body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #e6e8e6;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #553a41;
    color: white;
}

nav a:hover {
    color: #bb7e8c;
}

.hero {
    text-align: center;
    padding: 80px;
    background: #3a6ea5;
    color: white;
}

/*button*/
.btn {
    margin-top: 30px;
    padding: 10px 20px;
    background: #bb7e8c;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}

.products {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.product {
    background: white;
    padding: 10px;
    text-align: center;
    flex: 1;
    transition: 0.3s;
    width: 250px;
    height: 350px;
}

.product:hover {
    transform: translateY(-5px);
}

.product img {
    width: 100%;
    height:250px;
    background: #ccc;
}

.old {
    text-decoration: line-through;
    color: gray;
}

footer {
    background: #191919;
    color: white;
    text-align: center;
    padding: 20px;
}
.shop {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    color: #ffffff;
    text-decoration: none;
}
.logo {
    width: 2.5%;
    height: 10%;
}